progress_report_draft.rtfd
reading
to_reference
list_of_projects.pdf
presentation.key
presentation.pdf
progress_report.pdf
reading.rtf
report_draft.pages
report_draft.pdf
report.pdf
SPC720P_Project_Handbook.pdf
theory.rtf
code/.vscode